.container00{
    &.container09{
        background-image: url("../../images/humanFlight/01.jpg");
        background-size: cover;
    }
    &.container10{
        background-image: url("../../images/humanFlight/02.jpg");
    }
    &.container11{
        background-image: url("../../images/humanFlight/03.jpg");
    }
    &.container12{
        background-image: url("../../images/humanFlight/04.jpg");
    }
    &.container13{
        background-image: url("../../images/humanFlight/05.jpg");
    }
}
.container01Content{
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;

    .titleHuman{
        font-size: 120px;
    }
    .subTitleHuman{
        margin-top: 20px;
        margin-bottom: 60px;
        font-size: 30px;
        font-weight: 300;
    }
}
.earthDesc{
    background-color: black;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .textDescEarth{
        color: $table-item;
        font-weight: 400;
        font-size: 20px;
        width: 800px;

    }
    .name{
        text-decoration: none;
        color: white;
        border-bottom: 1px solid white;
        &:hover{
            color: $link-hover;
        }
    }
}

.containerRigthContent{
    margin-left: 55%;
    padding-top: 15%;
    .titleSection{
        font-size: 60px;
        font-weight: bold;
    }
    .subTitle{
        font-weight: 300;
        margin-bottom: 40px;
    }
    
}
.containerLeftContent{
    margin-left: 10%;
    padding-top: 15%;
    .titleSection{
        font-size: 60px;
        font-weight: bold;
    }
    .subTitle{
        font-weight: 300;
        margin-bottom: 40px;
    }
}
@media (max-width: 610px){
    .container01Content{
        .titleHuman{
            font-size: 60px;
        }
        .subTitleHuman{
            font-size: 24px;
        }
    }
    .containerRightContent{
        margin-left: 5%;
    }
    .containerLeftContent{
        margin-left: 5%;

    }
    .titleSection{
        font-size: 50px;
    }
}
@media (max-width: 476px) {
    .container01Content {
      h1 {
        font-size: 40px;
      }
  
      p {
        font-size: 16px;
      }
    }
  
    .arrowDown {
      display: none;
    }
  
    .earthDesc {
      height: 30vh;
      p {
        color: $table-item;
        font-weight: 400;
        font-size: 14px;
        width: auto;
      }
    }
  
    .containerRightContent {
      margin-left: 20%;
      padding-top: 30%;
    }
  
    .titleSection {
      font-size: 50px;
      font-weight: bold;
    }
  
    .subTitle {
      font-weight: 300;
      margin-bottom: 40px;
    }
  
    .containerLeftContent {
      margin-left: 7%;
      padding-top: 30%;
    }
}
@media (max-width: 380px){
    .container01Content{
        .titleHuman{
            font-size: 40px;
        }
        .subTitleHuman{
            font-size: 24px;
        }
    }
    img{
        width: 100px;
    }
}